<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhb-OwZuQPci2dF7IQbPxbT32wwj8-GmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1002994676908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swaponFirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>first-project-36bfe</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-36bfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002994676908:ios:02c34f728654ac3ea11b09</string>
</dict>
</plist>